html,
body {
    min-height: 100vh;
    height: 100%;
    background: linear-gradient(120deg, #667eea 0%, #764ba2 100%);

}

p {
    margin-top: 0 !important;
    margin-bottom: 0 !important;
}

a {
    color: transparent;
    background-color: transparent;
    text-decoration: none !important;
}

img {
    border-radius: 10px;
    max-width: 100%;
}

dl, ol, ul {
    margin-top: 0 !important;
    margin-bottom: 0 !important;
}

table {
    font-weight: 400;
    font-style: normal;
    border-spacing: 0;
    width: 100%;
    border: 1px solid #e8e8ea;
}

table td {
    padding: 0;
}

table tr td {
    position: relative;
    border: none;
    vertical-align: middle;
    font-size: 1rem;
    line-height: 20px;
    padding: 10px 16px;
    text-align: center;
}

table tbody tr:nth-child(even) {
    background-color: rgba(19, 10, 26, .05);
}

tbody tr {
    /*display: block;*/
    padding: 16px 0;
}

tbody tr:not(:last-child) {
    border-bottom: 1px solid #e8e8ea;
}

tbody tr td {
    border: none !important;
    /*display: block;*/
    margin-bottom: 16px;
    margin-left: 0;
    padding: 0 16px;
    font-size: 16px;
    line-height: 24px;
}

.nav-item {
    list-style-type: none;
}

.welcome-card {
    background: white;
    border-radius: 15px;
    box-shadow: 0 10px 40px rgba(0, 0, 0, 0.1);
}

.user-list-card {
    background: white;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.form-auth {
    padding: 1rem;
}

.form-auth .form-floating:focus-within {
    z-index: 2;
}

.form-auth input {
    margin-bottom: 10px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.post-title {
    word-break: break-word;
}

.post-content {
    white-space: pre-wrap;
    word-break: break-word;
}

minidenticon-svg svg {
    margin-right: 10px;
    border-radius: 50%;
    background-color: black;
    height: 40px;
    width: 40px;
}
